:where(.alert) {
  --_bg-color: var(--surface-tonal);
  --_color: var(--text-color-1);
  --_border-color: var(--surface-tonal);

  &.outlined {
    --_bg-color: var(--surface-default);
    --_border-color: var(--border-color);
  }

  background-color: var(--_bg-color);
  border: 1px solid var(--_border-color);
  border-radius: var(--surface-border-radius);
  color: var(--_color);
  padding: var(--size-3, 1rem);

  &.danger,
  &.info,
  &.success,
  &.warning {
    --_bg-color: var(--color-3);
    --_border-color: var(--color-7);
    --_color: var(--text-color-1-contrast);

    &.outlined {
      --_bg-color: var(--surface-default);
      --_color: var(--text-color-1);
      --_border-color: var(--color-9);
    }
  }
}
