/* TODO:
  - fix long content scrolling
*/
:where(dialog) {
  background-color: transparent;
  border: 0;
  margin-block-start: 15%; /* vertical aligment */

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);

    @media (prefers-reduced-motion: reduce) {
      backdrop-filter: none;
    }
  }

  .actions {
    justify-content: end;
    padding-inline: var(--size-3) var(--size-1);
  }
}

:where(html:has(dialog[open])) {
  overflow: hidden;
}
