:where(button, .button) {
  --_bg-color: transparent;
  --_border-color: transparent;
  --_text-color: initial;

  &.small {
    padding-block: 0.5ex;
    padding-inline: 1ex;
  }

  &.medium {
    padding-block: 1ex;
    padding-inline: 2ex;
  }

  &.large {
    padding-block: 1.5ex;
    padding-inline: 2.5ex;
  }

  &.text {
    --_bg-color: transparent;
    --_border-color: transparent;
    --_text-color: initial;
  }
  &.outlined {
    --_bg-color: transparent;
    --_border-color: var(--color-8, initial);
    --_text-color: var(--color-8, initial);
  }
  &.tonal {
    --_bg-color: var(--color-6);
    --_border-color: var(--color-6);
    --_text-color: var(--text-2);
  }
  &.filled {
    --_bg-color: var(--color-8, initial);
    --_text-color: var(--text-1);
  }
  &.elevated {
    --_bg-color: oklch(1 0 0 / 0.05);
    --_text-color: var(--color-8);

    background-color: var(--_bg-color);
    box-shadow: var(--shadow-4);
  }
}
