:where(.checkbox, .radio) {
  aspect-ratio: 1;
  cursor: pointer;

  block-size: 1.125rem;
  inline-size: 1.125rem;

  &:before {
    --thumb-highlight-size: 175%;
  }

  &:where(.disabled, [disabled]) {
    cursor: not-allowed;
    opacity: 0.64;
    user-select: none;
  }

  /* Size */
  &.small {
    block-size: var(--size-3);
    inline-size: var(--size-3);
  }

  &.large {
    block-size: var(--size-4);
    inline-size: var(--size-4);
  }

  /* Touch devices */
  @media (pointer: coarse) {
    block-size: var(--size-4);
    inline-size: var(--size-4);
  }
}

:where(label:has(> .checkbox, .radio)) {
  align-items: center;
  display: inline-flex;
  gap: var(--size-2);
  line-height: 1.5;
  user-select: none;
}
