label:where(.checkbox, .radio) {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: var(--size-2);
  line-height: 1.5;
  user-select: none;

  &:has([disabled]) {
    cursor: not-allowed;
    opacity: 0.64;
    user-select: none;
  }

  &.stack {
    flex-direction: column;
  }

  input {
    aspect-ratio: 1;
    cursor: pointer;

    block-size: 1.125rem;
    inline-size: 1.125rem;

    &:before {
      --thumb-highlight-size: 175%;
    }
  }

  /* Size */
  &.small {
    input {
      block-size: var(--size-3);
      inline-size: var(--size-3);
    }
  }

  &.large {
    input {
      block-size: var(--size-4);
      inline-size: var(--size-4);
    }
  }

  /* Touch devices */
  @media (pointer: coarse) {
    input {
      block-size: var(--size-4);
      inline-size: var(--size-4);
    }
  }
}
