:where(.checkbox, .radio, input[type="checkbox"], input[type="radio"]) {
  aspect-ratio: 1;
  transform-style: preserve-3d;
  cursor: pointer;

  --isLTR: 1;
  --isRTL: -1;

  &:dir(rtl) {
    --isLTR: -1;
    --isRTL: 1;
  }

  &:hover::before {
    --thumb-scale: 1;
  }

  @media (hover: none) {
    inline-size: 1.5rem;
    block-size: 1.5rem;
  }

  &::before {
    --thumb-scale: 0.01;
    --thumb-highlight-size: 225%;

    content: "";
    inline-size: var(--thumb-highlight-size);
    block-size: var(--thumb-highlight-size);
    clip-path: circle(50%);
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    background: hsl(0 0% 50% / 20%);
    transform-origin: center center;
    transform: translateX(calc(var(--isRTL) * 50%)) translateY(-50%)
      translateZ(-1px) scale(var(--thumb-scale));
    will-change: transform;

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 0.2s ease;
    }
  }

  @media (pointer: coarse) {
    inline-size: var(--size-4);
    block-size: var(--size-4);
  }
}
