:where(.field:has(input[type="color"])) {
  input {
    appearance: none;
    background: none;
    block-size: var(--field-size);
    overflow: hidden;
    padding: 0;

    &::-webkit-color-swatch {
      border: none;
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  }

  /* Sizes */
  &.small {
    input {
      block-size: var(--field-size-small);
    }
  }
}
