:where(.field:has(input[type="color"])) {
  input {
    appearance: none;
    background: none;
    block-size: 2.875em;
    border-radius: var(--input-border-radius);
    border: var(--input-border-width) solid var(--input-border-color);
    overflow: hidden;
    padding: 0;

    &::-webkit-color-swatch {
      border: none;
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  }

  /* Sizes */
  &.small {
    input {
      block-size: 2.375em;
      inline-size: 2.375em;
    }
  }
}
