:where(input[type="color"]) {
  appearance: none;
  background: none;
  border-color: var(--border-color);
  border-radius: var(--border-radius, 0.25rem);
  border-style: solid;
  border-width: var(--size-1);
  cursor: pointer;
  overflow: hidden;
  transition: outline 0.15s var(--ease-2);

  &::-webkit-color-swatch {
    border: none;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &:where(:hover, :focus-within) {
    outline: min(calc(var(--border-width) * 2), 3px) solid var(--border-color);
  }
}
