:where(.field:has(input[type="file"])) {
  input {
    align-self: flex-start;
    block-size: var(--field-size);
    box-shadow: none;
    color: var(--text-color-1);
    cursor: initial;
    max-inline-size: 100%;
    padding: 0;

    &::-webkit-file-upload-button,
    &::file-selector-button {
      background-color: light-dark(var(--gray-2), var(--gray-13));
      block-size: 100%;
      border: 0;
      border-inline-end: var(--field-border-width) solid
        var(--field-border-color);
      cursor: pointer;
      margin-inline-end: 2ex;
    }
  }

  /* Variants */
  &.filled {
    input {
      &::-webkit-file-upload-button,
      &::file-selector-button {
        background-color: var(--surface-default);
        block-size: calc(100% - var(--size-2));
        border-radius: var(--field-border-radius);
        cursor: pointer;
        margin-inline-end: 2ex;
        margin-block-start: var(--size-1);
        margin-inline-start: var(--size-1);
      }
    }
  }

  /* Sizes */
  &.small {
    input {
      block-size: 2.375rem;
    }
  }
}
