:where(
    input:is([type="password"], [type="url"], [type="email"], [type="tel"])
  ) {
  /* TODO: To show icon, needed? */
  padding-inline-end: 3.5ch;
}

:where(
    input:where(
        [type="text"],
        [type="password"],
        [type="url"],
        [type="email"],
        [type="tel"],
        [type="search"]
      )
  ) {
  flex-shrink: 1;
  min-inline-size: 5ch;
  max-inline-size: 100%;
}

:where(
    input:not(
        button,
        [disabled],
        [readonly],
        [type="button"],
        [type="checkbox"],
        [type="color"],
        [type="file"],
        [type="radio"],
        [type="reset"],
        [type="submit"]
      ),
    textarea,
    select
  ) {
  --_border-color: var(--border-color);

  background-color: transparent;
  border-radius: var(--input-border-radius, 0px);
  border: var(--border-width, 1px) solid var(--_border-color);
  color: var(--color-body);
  font-family: var(--font-sans);
  transition: all 0.15s var(--ease-2);

  &:where(:hover, :focus-within) {
    box-shadow: 0 0 0 2px color-mix(in srgb, var(--primary) 25%, transparent);
    outline: min(calc(var(--border-width) * 2), 3px) solid var(--_border-color);
    @container style(--color-scheme: dark) {
      /* background-color: var(--well-2); */
    }
  }

  &:where(:not(:placeholder-shown, :not([placeholder])):invalid) {
    /* background-image: var(--icon-error);
    background-position: calc(100% - 1.5ch) center; */
  }

  &:where(:not(:focus-within):not(:placeholder-shown):invalid) {
    text-decoration: underline wavy var(--red-6, #fa5252);

    @container style(--color-scheme: dark) {
      text-decoration: underline wavy var(--red-4, #ff8787);
    }
  }
}

::placeholder {
  color: var(--color-body);
  opacity: 0.7;
}

::-moz-placeholder {
  opacity: 1;
}

:where(input[type="password"]) {
  background-image: var(--icon-password);
  background-position: calc(100% - 1.5ch) center;

  &:focus {
    background-image: var(--icon-password-editing);
  }
}

:where(input[type="email"]) {
  background-image: var(--icon-email);
  background-position: calc(100% - 1.5ch) center;
}

:where(input[readonly]) {
  background-image: var(--icon-no-edit);
  background-position: calc(100% - 1.5ch) center;
}

:where(input[type="url"]) {
  background-image: var(--icon-url);
  background-position: calc(100% - 1.5ch) center;
}

:where(input[type="tel"]) {
  background-image: var(--icon-tel);
  background-position: calc(100% - 1.5ch) center;

  &:focus {
    background-image: var(--icon-tel-editing);
  }
}

:where(input:where([name*="username"], [id*="username"])) {
  background-image: var(--icon-user);
  background-position: calc(100% - 1.5ch) center;
  background-size: 1.75ch;

  &:focus {
    background-image: var(--icon-user-editing);
  }
}

:where(input):-webkit-autofill,
:where(input):-webkit-autofill:hover,
:where(input):-webkit-autofill:focus,
:where(textarea):-webkit-autofill,
:where(textarea):-webkit-autofill:hover,
:where(textarea):-webkit-autofill:focus,
:where(select):-webkit-autofill,
:where(select):-webkit-autofill:hover,
:where(select):-webkit-autofill:focus,
:where(input):autofill,
:where(input):autofill:hover,
:where(input):autofill:focus,
:where(textarea):autofill,
:where(textarea):autofill:hover,
:where(textarea):autofill:focus,
:where(select):autofill,
:where(select):autofill:hover,
:where(select):autofill:focus {
  -webkit-text-fill-color: var(--color-body);
  -webkit-box-shadow: 0 0 0px 1e5px var(--well-1) inset;
  transition: background-color 5000s ease-in-out 0s;
}
