:where(select) {
  /* appearance: none;
	background-image: var(--icon-arrow-down);
	background-position: calc(100% - 1ch) center;
	background-size: 3ex; */
  /* padding-block: 0.75ch;
  padding-inline: 1.75ch 3ch;
  line-height: 1.5; */

  & :where(optgroup, option) {
    background: var(--surface-default);
  }

  &:where(:focus-visible) {
    outline-offset: 0;
    outline-width: 1px;
  }
  &:where(:hover, :focus) {
    /* add button hover */
    /* background-color: var(--surface-default);
		background-image: var(--icon-arrow-up); */
  }
}
