:where(.select) {
  background-color: transparent;
  border-radius: var(--input-border-radius);
  border: var(--input-border-width) solid var(--input-border-color);
  font-family: var(--font-sans);
  min-inline-size: 0;
  transition: all 0.15s var(--ease-2);

  &.auto-width {
    field-sizing: content;
  }

  button {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  /* Default arrow */
  &:after {
    display: none;
  }

  button {
    /* Arrow */
    &:after {
      block-size: 0;
      border-block-start: 5px solid;
      border-inline: 5px solid transparent;
      content: "";
      display: inline-block;
      inline-size: 0;
      margin-inline-start: var(--size-2);
      translate: 0 -50%;
    }
  }

  /* Select popover */
  &::picker(select) {
    border: 0;
    box-shadow: var(--shadow-2);
    padding: 0;
  }

  /* Option */
  option {
    /* Checkmark */
    &:before {
      display: none;
      pointer-events: none;
    }

    &:checked {
    }

    &:focus-visible {
      outline-offset: -1px;
    }
  }

  & :where(optgroup, option) {
  }

  &:where(:hover, :focus) {
    /* add button hover */
    /* background-color: var(--surface-default);
		background-image: var(--icon-arrow-up); */
  }
}
