:where(.field textarea) {
  min-block-size: 5rem;
  resize: vertical;
}

:where(.field:has(textarea)) {
  /* Auto-fit */
  &.auto-fit {
    textarea {
      block-size: auto;
      min-block-size: var(--_height);
    }
  }
}
