:where(
    .button,
    button,
    input:is([type="button"], [type="submit"], [type="reset"])
  ),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  --_accent: initial /* your color */;
  --_text: initial /* your text color */;
  --_size: initial /* your size */;

  --_bg-light: white;
  --_bg-dark: var(--surface-3);
  --_bg: var(--_bg-light);

  --_border: var(--surface-3);

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  align-items: center;
  background: var(--_bg);
  border-radius: var(--radius-2);
  border: var(--border-size-2) solid var(--_border);
  color: var(--_text);
  display: inline-flex;
  font-size: var(--_size);
  font-weight: var(--font-weight-7);
  gap: var(--size-2);
  justify-content: center;
  padding-block: 0.75ch;
  padding-inline: var(--size-relative-6);
  text-align: center;
  transition: border-color 0.5s var(--ease-3);
  user-select: none;
}

:where(
    .button,
    button,
    input:is([type="button"], [type="submit"], [type="reset"])
  ) {
  /* disabled */
  &[disabled] {
    --_bg: none;
    --_text: var(--gray-6);
    cursor: not-allowed;
    box-shadow: var(--shadow-1);
  }

  /* pressing */
  &:where(:not(:active):hover) {
    --_highlight-size: var(--size-2);
    transition-duration: 0.25s;
  }

  /* icons */
  &:has(svg) {
    background: tomato;

    & > * {
      stroke: var(--_icon-color);
      stroke-width: var(--border-size-2);
    }
  }
}

/* adaptive indigo text */
:where([type="submit"], form button:not([type], [disabled])) {
  --_text: var(--_accent, var(--link));
}

/* red reset */
:where([type="reset"]) {
  --_text: var(--red-6);
  --_border: var(--red-3);

  &:focus-visible {
    outline-color: var(--red-6);
  }

  @media (--OSdark) {
    --_text: var(--red-2);
    --_border: var(--surface-3);
  }
}

/* submit, form > button, reset matching hover border color */
/* :where([type="submit"], [type="reset"], form button:not([type])):is(
    :hover,
    :focus-visible
  ):not([disabled]) {
  --_border: currentColor;
} */

/* file input */
:where(input[type="file"]) {
  align-self: flex-start;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--surface-2);
  box-shadow: var(--inner-shadow-4);
  color: var(--text-2);
  cursor: initial;
  max-inline-size: 100%;
  padding: 0;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  cursor: pointer;
  margin-inline-end: var(--size-relative-6);
}

/* special dark theme styles */
@media (--OSdark) {
  :where([type="submit"]),
  :where(form button:not([type="button"])),
  :where([type="reset"]),
  :where([disabled]) {
    --_bg: var(--surface-1);
  }
}
