:where(summary) {
  background: var(--surface-3);
  border-radius: var(--global-radius, var(--radius-2));
  margin: calc(var(--size-2) * -1) calc(var(--size-3) * -1);
  padding: var(--size-2) var(--size-3);
}

:where(details) {
  background: var(--surface-2);
  border-radius: var(--global-radius, var(--radius-2));
  padding-block: var(--size-2);
  padding-inline: var(--size-3);
}

:where(details[open] > summary) {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
  margin-bottom: var(--size-2);
}
