:root {
  --input-border-color: color-mix(in oklch, currentColor 80%, transparent);
  --input-border-radius: 0px;
  --input-border-width: 1px;
}

::placeholder {
  color: light-dark(var(--gray-7), var(--gray-6));
  opacity: 0.75;
}

:where(input[type="checkbox"], input[type="radio"]) {
  block-size: var(--size-3);
  inline-size: var(--size-3);
}

:where(
    textarea,
    select,
    input:not([type="button"], [type="submit"], [type="reset"])
  ) {
  background-color: transparent;
  border: var(--input-border-width, 1px) solid
    var(--input-border-color, var(--text-1));
  border-radius: var(--input-border-radius, var(--radius-2));
}

:where(textarea) {
  resize: block;
}

:where(input:not([type="range"]), textarea) {
  padding-block: var(--size-1);
  padding-inline: var(--size-2);
}

:where(input, textarea) {
  min-width: 0;

  &:focus {
    outline-offset: 0;
    outline-width: 1px;
  }
}
