.custom-block {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 16px 16px 8px;
  line-height: 24px;
  font-size: var(--vp-custom-block-font-size);
  color: var(--vp-c-text-2);
  margin-block: var(--size-3);

  &.info {
    border-color: var(--vp-custom-block-info-border);
    color: var(--vp-custom-block-info-text);
    background-color: var(--vp-custom-block-info-bg);

    a,
    code {
      color: var(--vp-c-brand-1);
    }

    a:hover,
    a:hover > code {
      color: var(--vp-c-brand-2);
    }

    code {
      background-color: var(--vp-custom-block-info-code-bg);
    }
  }

  &.note {
    border-color: var(--vp-custom-block-note-border);
    color: var(--vp-custom-block-note-text);
    background-color: var(--vp-custom-block-note-bg);

    a,
    code {
      color: var(--vp-c-brand-1);
    }

    a:hover,
    a:hover > code {
      color: var(--vp-c-brand-2);
    }

    code {
      background-color: var(--vp-custom-block-note-code-bg);
    }
  }

  &.tip {
    border-color: var(--vp-custom-block-tip-border);
    color: var(--vp-custom-block-tip-text);
    background-color: var(--vp-custom-block-tip-bg);

    a,
    code {
      color: var(--vp-c-tip-1);
    }

    a:hover,
    a:hover > code {
      color: var(--vp-c-tip-2);
    }

    code {
      background-color: var(--vp-custom-block-tip-code-bg);
    }
  }

  &.important {
    border-color: var(--vp-custom-block-important-border);
    color: var(--vp-custom-block-important-text);
    background-color: var(--vp-custom-block-important-bg);

    a,
    code {
      color: var(--vp-c-important-1);
    }

    a:hover,
    a:hover > code {
      color: var(--vp-c-important-2);
    }

    code {
      background-color: var(--vp-custom-block-important-code-bg);
    }
  }

  &.warning {
    border-color: var(--vp-custom-block-warning-border);
    color: var(--vp-custom-block-warning-text);
    background-color: var(--vp-custom-block-warning-bg);

    a,
    code {
      color: var(--vp-c-warning-1);
    }

    a:hover,
    a:hover > code {
      color: var(--vp-c-warning-2);
    }

    code {
      background-color: var(--vp-custom-block-warning-code-bg);
    }
  }

  &.danger {
    border-color: var(--vp-custom-block-danger-border);
    color: var(--vp-custom-block-danger-text);
    background-color: var(--vp-custom-block-danger-bg);

    a,
    code {
      color: var(--vp-c-danger-1);
    }

    a:hover,
    a:hover > code {
      color: var(--vp-c-danger-2);
    }

    code {
      background-color: var(--vp-custom-block-danger-code-bg);
    }
  }

  &.caution {
    border-color: var(--vp-custom-block-caution-border);
    color: var(--vp-custom-block-caution-text);
    background-color: var(--vp-custom-block-caution-bg);

    a,
    code {
      color: var(--vp-c-caution-1);
    }

    a:hover,
    a:hover > code {
      color: var(--vp-c-caution-2);
    }

    code {
      background-color: var(--vp-custom-block-caution-code-bg);
    }
  }

  &.details {
    border-color: var(--vp-custom-block-details-border);
    color: var(--vp-custom-block-details-text);
    background-color: var(--vp-custom-block-details-bg);

    a {
      color: var(--vp-c-brand-1);
    }

    a:hover,
    a:hover > code {
      color: var(--vp-c-brand-2);
    }

    code {
      background-color: var(--vp-custom-block-details-code-bg);
    }

    summary {
      margin: 0 0 8px;
      font-weight: 700;
      cursor: pointer;
      user-select: none;

      & + p {
        margin: 8px 0;
      }
    }
  }

  .custom-block-title {
    font-weight: 600;
    margin: 0;

    & + * {
      margin-block: var(--size-2);
    }
  }

  * + *:not(:last-child) {
    margin: 8px 0;
  }

  a {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.75;
    }
  }

  code {
    font-size: var(--vp-custom-block-code-font-size);
  }

  th,
  blockquote > p {
    font-size: var(--vp-custom-block-font-size);
    color: inherit;
  }
}
