/*
TODO
- Implement animations and other variants: https://developer.chrome.com/blog/styling-details?hl=en
*/

:where(details) {
  --_bg-color: transparent;
  --_shadow: none;
  --_margin-inline: var(--size-1);

  background-color: var(--_bg-color);
  box-shadow: var(--_shadow);
  border-radius: var(--border-radius);
  margin-inline: var(--_margin-inline);

  summary {
    background-color: inherit;
    cursor: pointer;
    padding-block: var(--size-3);
    user-select: none;
  }

  /*
  Custom arrow
  */
  /* summary {
    align-items: center;
    background-color: inherit;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-block: var(--size-3);
    user-select: none;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    svg {
      transition: rotate 0.3s var(--ease-1);
    }
  }

  &[open] > summary svg {
    rotate: 180deg;
  } */

  .content {
    margin-block: var(--size-2) var(--size-3);
  }

  .actions {
    display: flex;
    gap: var(--size-1);
    justify-content: end;
    margin-block: var(--size-3) var(--size-1);
    padding-inline: var(--size-3) var(--size-1);
  }

  &[open] > summary {
    margin-block-end: var(--size-2);
  }

  /* Variants */
  &.card,
  &.text {
    --_bg-color: transparent;
    --_margin-inline: var(--size-1);
  }
  &.elevated {
    --_margin-inline: 0;
  }
  &.outlined {
    --_margin-inline: 0;

    border: 1px solid var(--border-color);
  }
  &.tonal {
    --_margin-inline: 0;
  }

  &:where(.elevated, .outlined, .tonal) > * {
    padding-inline: var(--size-3);
  }
}

/* Accordion group */
:where(.card:has(details)) {
  --_gutter-color: var(--border-color);

  & > .content {
    margin-block: 0;
    padding-inline: 0;
  }

  /* Variants */
  &.card,
  &.text {
    --_bg-color: transparent;

    &:not(.tonal, .outlined, .elevated) {
      summary {
        padding-inline: 0;
      }
    }
  }
  &.tonal {
    --_gutter-color: light-dark(
      color-mix(in oklch, var(--surface-tonal) 90%, black),
      color-mix(in oklch, var(--surface-tonal) 90%, white)
    );
  }

  details {
    --_margin-inline: 0;
    border: 0;
    box-shadow: none;

    & > * {
      padding-inline: var(--size-3);
    }

    & + & {
      summary {
        border-radius: 0;
        border-block-start: 1px solid var(--_gutter-color);
      }
    }

    &:first-of-type {
      border-start-start-radius: var(--border-radius);
      border-start-end-radius: var(--border-radius);
      summary {
        border-start-start-radius: var(--border-radius);
        border-start-end-radius: var(--border-radius);
      }
    }

    &:last-of-type {
      border-end-start-radius: var(--border-radius);
      border-end-end-radius: var(--border-radius);
      summary {
        border-end-start-radius: var(--border-radius);
        border-end-end-radius: var(--border-radius);
      }
    }
  }
}
