:where(.card) {
  --_bg-color: transparent;
  --_border-color: transparent;
  --_border-width: 0;
  --_shadow: none;
  padding-inline: 0;

  background-color: var(--_bg-color);
  border-color: var(--_border-color);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: var(--_border-width);
  box-shadow: var(--_shadow);
  overflow: hidden;

  /* Variants */
  &.text {
    --_bg-color: transparent;
    --_border-color: transparent;
    --_border-width: 0;
    --_shadow: none;
    padding-inline: 0;
  }

  &.tonal {
    --_bg-color: var(--surface-tonal);
    --_border-width: 1px;
  }

  &.elevated {
    --_bg-color: light-dark(var(--gray-0), var(--gray-12));
    --_border-color: transparent;
    --_border-width: 0;
    --_shadow: var(--shadow-3);

    @container style(--color-scheme: dark) {
      --_shadow: var(--shadow-4);
    }
  }

  &.outlined {
    --_bg-color: var(--surface-default);
    --_border-color: var(--border-color);
    --_border-width: 1px;
  }

  /* Children */
  :where(.header, .content, .actions) {
    margin-block: var(--size-3);
    padding-inline: var(--size-3);
  }

  .actions {
    display: flex;
    gap: var(--size-1);
    margin-block-end: var(--size-1);
    padding-inline-start: var(--size-1);
  }
}
