.card {
  --_bg-color: inherit;
  --_border-color: transparent;
  --_border-width: 0;
  --_shadow: var(--shadow-2);

  /* For some reason light-dark doesn't work on box-shadows */
  @media (prefers-color-scheme: dark) {
    --_shadow: var(--shadow-3);
  }

  background-color: var(--_bg-color);
  border-color: var(--_border-color);
  border-radius: var(--global-border-radius);
  border-style: solid;
  border-width: var(--_border-width);
  box-shadow: var(--_shadow);
  overflow: hidden;

  /* Variants */
  &.tonal {
    --_bg-color: var(--surface-3);
    --_border-width: 1px;
    --_shadow: none;
  }

  &.outlined {
    --_border-color: var(--input-border-color);
    --_border-width: 1px;
    --_shadow: none;
  }

  /* Building blocks */
  :where(.header, .content, .actions) {
    margin-block: var(--size-3);
    padding-inline: var(--size-3);
  }

  .header {
  }

  .content {
  }

  .actions {
    display: flex;
    gap: var(--size-1);
    justify-content: end;
    margin-block-end: var(--size-1);
    padding-inline-end: var(--size-1);
  }
}
