:where(.card) {
  --_bg-color: transparent;
  --_border-color: transparent;
  --_border-width: 0;
  --_shadow: none;
  padding-inline: 0;

  background-color: var(--_bg-color);
  border-color: var(--_border-color);
  border-radius: var(--surface-border-radius, 0.25rem);
  border-style: solid;
  border-width: var(--_border-width);
  box-shadow: var(--_shadow);
  overflow: hidden;

  /* Variants */
  &.text {
    --_bg-color: transparent;
    --_border-color: transparent;
    --_border-width: 0;
    --_shadow: none;
    padding-inline: 0;
  }

  &.tonal {
    --_bg-color: var(
      --surface-tonal,
      light-dark(oklch(95% 0.01 255 / 1), oklch(31% 0.01 255 / 1))
    );
    --_border-width: 1px;
  }

  &.elevated {
    --_bg-color: var(
      --surface-elevated,
      light-dark(oklch(99% 0.01 255 / 1), oklch(31% 0.01 255 / 1))
    );
    --_border-color: transparent;
    --_border-width: 0;
    --_shadow: var(--shadow-3, 0 4px 6px -1px rgb(0 0 0 / 0.1));

    @container style(--color-scheme: dark) {
      --_shadow: var(
        --shadow-4,
        0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1)
      );
    }
  }

  &.outlined {
    --_bg-color: var(
      --surface-default,
      light-dark(oklch(99% 0.01 255 / 1), oklch(25% 0.01 255 / 1))
    );
    --_border-color: var(
      --border-color,
      light-dark(oklch(37% 0.01 255 / 1), oklch(99% 0.01 255 / 1))
    );
    --_border-width: 1px;
  }

  /* Children */
  :where(hgroup, .content) {
    padding-inline: var(--size-3, 1rem);
  }

  hgroup {
    margin-block: var(--size-3, 1rem);
    & > * {
      margin: 0;
    }

    /* The first p element */
    & > p:first-of-type:first-child {
      line-height: 1.3;
    }

    /* The second p element */
    & > p:last-of-type:last-child:not(:first-child) {
      font-size: var(--font-size-1, 1rem);
    }
  }

  .content {
    margin-block: var(--size-3, 1rem) var(--size-4, 1.25rem);
  }

  .actions {
    display: flex;
    gap: var(--size-1, 0.25rem);
    margin-block: var(--size-4, 1.25rem) 0;
    padding-block-end: var(--size-1, 0.25rem);
    padding-inline: var(--size-1, 0.25rem) var(--size-3, 1rem);
  }
}
