:where(dialog) {
  background-color: light-dark(var(--surface-default), var(--surface-filled));
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);
  color: inherit;

  &::backdrop {
    backdrop-filter: blur(25px);
  }
}

:where(html:has(dialog[open])) {
  overflow: hidden;
}
