@layer design, components;
@import "https://unpkg.com/open-props@beta.5" layer(design.system);
@import "https://unpkg.com/browse/open-props@2.0.0-beta.5/css/color/gray.hex.css"
  layer(design.system);
@import "../../src/theme.css";

:root {
  --vp-c-brand-1: steelblue;
  --vp-c-brand-2: cornflowerblue;
  --vp-c-brand-3: steelblue;
  --vp-c-brand-soft: cornflowerblue;

  --vp-font-family-base: var(--font-sans);
  --vp-font-family-mono: var(--font-mono);
}

/* Code block is set to always be dark */
:root {
  --vp-code-block-color: rgba(255, 255, 245, 0.86);
  --vp-code-block-bg: #161618;
  --vp-code-block-divider-color: #000000;

  --vp-code-lang-color: rgba(235, 235, 245, 0.38);

  --vp-code-line-highlight-color: #000000;
  --vp-code-line-number-color: rgba(235, 235, 245, 0.38);

  --vp-code-copy-code-border-color: rgba(82, 82, 89, 0.32);
  --vp-code-copy-code-bg: #252529;
  --vp-code-copy-code-hover-border-color: rgba(82, 82, 89, 0.32);
  --vp-code-copy-code-hover-bg: #323238;
  --vp-code-copy-code-active-text: rgba(255, 255, 245, 0.86);

  --vp-code-tab-text-color: rgba(235, 235, 245, 0.6);
  --vp-code-tab-hover-text-color: rgba(255, 255, 245, 0.86);
  --vp-code-tab-active-text-color: rgba(255, 255, 245, 0.86);
}

/* Custom utils */
.example-wrapper {
  border-color: var(--vp-c-divider);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-block: 1em;

  .example {
    margin-block: 1rem;
    padding-block: 0;
  }

  [class^="language"] {
    border-block-start: 1px solid var(--vp-c-divider);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-block: 0 !important;
  }
}

.example {
  margin-block: 2rem 1rem;
  padding: 1em;

  & + [class^="language"] {
    margin-block-start: 0 !important;
  }

  &.row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  &.stack {
    display: grid;
    gap: 1rem;
  }
}
