/* Custom utils */
html.dark {
  .example-wrapper {
    box-shadow: var(--shadow-2);
  }
}

.example-wrapper {
  border-color: var(--border-color);
  border-radius: var(--surface-border-radius);
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 0;
  box-shadow: var(--shadow-1);
  margin-inline: -1rem;
  margin-block: var(--size-3);
  overflow: hidden;

  @media (width > 640px) {
    margin-inline: 0;
  }

  .example {
    margin-block: var(--size-3);
    padding-block: 0;
  }

  .vp-code-group .tabs {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  [class^="language"] {
    border-block-start: 1px solid var(--border-color);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    margin-block: 0 !important;

    @media (width <= 640px) {
      margin-inline: 0 !important;
    }
  }
}

.example {
  margin-block: var(--size-7) var(--size-3);
  padding: var(--size-3);

  & + [class^="language"] {
    margin-block-start: 0 !important;
  }

  &.row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-3);
    justify-content: center;
  }

  &.stack {
    display: grid;
    gap: var(--size-3);
  }
}

.anatomy {
  --_anatomy-border-red: 2px dotted tomato;
  --_anatomy-border-gray: 2px dotted gray;

  pointer-events: none;
}
