@import url(https://fonts.bunny.net/css?family=bricolage-grotesque:400,500,600,700,800);

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Bricolage Grotesque", sans-serif;
}

html.dark {
  .example-wrapper {
    box-shadow: var(--shadow-2);
  }
}

html {
  --text-color-2-78: oklch(from var(--text-color-2) l c h / 78%);
  --text-color-2-56: oklch(from var(--text-color-2) l c h / 56%);

  scroll-timeline: --page-scroll block;

  &:has(.VPHome) {
    &:before {
      background-image: radial-gradient(
        var(--text-color-2) 1.4500000000000002px,
        transparent 1.4500000000000002px
      );
      background-size: 20px 20px;
      content: "";
      inset: 0;
      opacity: 0.2;
      pointer-events: none;
      position: fixed;
    }
  }

  &.dark {
    &:before {
      opacity: 0.075;
    }
  }
}

@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/*
TODO: Make sure it doesn't show if there's nothing to scroll
#progress {
  background: var(--primary);
  block-size: 0.25em;
  inset-block-start: 0;
  inset-inline-start: 0;
  position: fixed;
  transform-origin: 0 50%;
  inline-size: 100%;
  z-index: var(--layer-important);
  animation: grow-progress auto linear;
  animation-timeline: --page-scroll;
} */

.opui-logo {
  display: inline-grid;
  font-family: var(--font-system-ui);
  font-size: var(--font-size-fluid-3);
  margin-block-end: var(--size-3);
  text-transform: uppercase;

  span {
    color: var(--primary);
    font-weight: 300;

    &:first-of-type {
      align-self: end;
      font-size: 0.9em;
      &::first-letter {
        font-size: 1.043em;
        font-weight: 900;
      }

      & + span {
        align-self: start;
        font-size: 0.9em;
        &::first-letter {
          font-size: 1.043em;
          font-weight: 900;
        }
      }
    }

    &:last-of-type {
      align-self: center;
      color: var(--text-color-1);
      font-size: 3em;
      font-weight: 900;
      grid-column: 2;
      grid-row: 1/3;
      line-height: 0;
      margin-block-start: -0.1em;
    }
  }
}

.anatomy {
  --_anatomy-border-red: 2px dotted tomato;
  --_anatomy-border-gray: 2px dotted gray;

  pointer-events: none;
}

.example {
  .field:not(.auto-fit) {
    inline-size: 25ch;
  }
}
