html.dark {
  .example-wrapper {
    box-shadow: var(--shadow-2);
  }
}

:where(.vp-doc > div > :where(h1, h2, h3, h4, h5, h6, p)) {
  margin-block-end: 1em;
}

:where(.vp-doc > div > :where(h2, h3)) {
  margin-block: 2em 1em;
}

:where(.vp-doc > div > :where(h4, h5, h6, p)) {
  margin-block: 1.25em;
}

.anatomy {
  --_anatomy-border-red: 2px dotted tomato;
  --_anatomy-border-gray: 2px dotted gray;

  pointer-events: none;
}
