:where(.button) {
  --_bg-color: initial;
  --_border-color: initial;
  --_border-radius: var(--button-border-radius, initial);
  --_font-size: initial;
  --_text-color: initial;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  align-items: center;
  background-color: var(--_bg-color);
  border-radius: var(--_border-radius);
  border: var(--border-size-1) solid var(--_border-color);
  color: var(--_text-color);
  display: inline-flex;
  font-size: var(--_font-size);
  font-weight: 700;
  gap: var(--size-2);
  justify-content: center;
  padding-block: 0.5ex;
  padding-inline: 1.5ex;
  text-align: center;
  text-decoration: none;

  user-select: none;

  &:where([disabled]) {
    cursor: not-allowed;
    opacity: 0.64;
  }

  @media (prefers-reduced-motion: no-preference) {
    transition:
      background-color 0.2s var(--ease-out-3),
      box-shadow 0.2s var(--ease-out-3),
      border-color 0.2s var(--ease-out-3),
      color 0.2s var(--ease-out-3),
      outline-offset 0.05s var(--ease-1);
  }
}

/* file input */
:where(input[type="file"]) {
  align-self: flex-start;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--surface-filled);
  box-shadow: var(--inner-shadow-4);
  color: var(--text-color-2-contrast);
  cursor: initial;
  max-inline-size: 100%;
  padding: 0;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  cursor: pointer;
  margin-inline-end: var(--size-relative-6);
}
