:where(
    .button,
    button,
    input:is([type="button"], [type="submit"], [type="reset"])
  ),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  --_bg-color: initial;
  --_border-color: initial;
  --_border-radius: var(--button-border-radius, initial);
  --_font-size: initial;
  --_text-color: initial;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  align-items: center;
  background: var(--_bg-color) var(--ripple, none);
  border-radius: var(--_border-radius);
  border: var(--border-size-1) solid var(--_border-color);
  color: var(--_text-color);
  display: inline-flex;
  font-size: var(--_font-size);
  font-weight: var(--font-weight-7);
  gap: var(--size-2);
  justify-content: center;
  padding-block: 1ex;
  padding-inline: 2ex;
  text-align: center;
  text-decoration: none;
  transition:
    background-color 0.2s var(--ease-out-3),
    box-shadow 0.2s var(--ease-out-3),
    border-color 0.2s var(--ease-out-3),
    color 0.2s var(--ease-out-3);
  user-select: none;

  /* Ripple effect */
  background-position: center;
  transition: background 0.8s;

  &:where(:not(.disabled, [disabled])) {
    &:where(:hover:active) {
      background-size: 100%;
      transition: background 0s;
    }
  }
}

/* file input */
:where(input[type="file"]) {
  align-self: flex-start;
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--surface-filled);
  box-shadow: var(--inner-shadow-4);
  color: var(--text-1-contrast);
  cursor: initial;
  max-inline-size: 100%;
  padding: 0;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  cursor: pointer;
  margin-inline-end: var(--size-relative-6);
}
