:where([role="group"].button-group) {
  --_border-radius: var(--button-border-radius);
  border-radius: var(--_border-radius);
  width: fit-content;

  button {
    border-radius: 0;

    & + & {
      border-inline-start: 0;
    }

    &:first-of-type {
      border-bottom-left-radius: var(--_border-radius);
      border-top-left-radius: var(--_border-radius);
    }
    &:last-of-type {
      border-bottom-right-radius: var(--_border-radius);
      border-top-right-radius: var(--_border-radius);
    }
  }

  /* Variants */
  &:not(:has(.tonal), :has(.filled), :has(.outlined)) {
    button + button {
      border-inline-start: 1px solid var(--border-color);
    }
  }

  &:has(.tonal),
  &:has(.filled) {
    button {
      &:not(:first-of-type) {
        border-inline-start: 1px solid var(--color-6);
      }
    }
  }
}
