:where(.button) {
  --_bg-color: transparent;
  --_border-color: transparent;
  --_text-color: var(--primary);

  background: var(--_bg-color) var(--ripple, none);

  /* TODO */
  &:where(:not(.disabled, [disabled])) {
    &:where(:not(:active):hover) {
      --_bg-color: light-dark(
        color-mix(in oklch, white 90%, black),
        color-mix(in oklch, white 40%, black)
      );
    }

    &:where(:hover:active) {
      --_bg-color: light-dark(
        color-mix(in oklch, white 95%, black),
        color-mix(in oklch, white 45%, black)
      );
    }
  }

  &:where(.disabled, [disabled]) {
    --_text-color: color-mix(
      in oklch,
      var(--text-color-2) 50%,
      var(--surface-default)
    );
  }

  /* Icon */
  &:where(:has(svg), &.icon-only) {
    gap: 1ex;

    & svg {
      fill: currentColor;
    }
  }

  /* Sizes */
  &.small {
    padding-block: 0;
    padding-inline: 1ex;
  }

  &.medium {
    padding-block: 0.5ex;
    padding-inline: 1.5ex;
  }

  &.large {
    padding-block: 1ex;
    padding-inline: 2.5ex;
  }

  &.text {
    --_bg-color: transparent;
    --_border-color: transparent;
    --_text-color: initial;
  }

  /* Variants */
  &.outlined {
    --_bg-color: var(--surface-default);
    --_border-color: var(--color-8);
    --_text-color: var(--color-8);

    &:where(:not(.disabled, [disabled])) {
      &:where(:not(:active):hover) {
        --_bg-color: var(--color-10);
        --_border-color: var(--color-10);
        --_text-color: var(--color-1);
      }

      &:where(:active) {
        --_bg-color: var(--color-9);
        --_border-color: var(--color-9);
        --_text-color: var(--color-1);
      }
    }

    &:where(.disabled, [disabled]) {
      --_bg-color: var(--surface-default);
      --_border-color: color-mix(
        in oklch,
        var(--text-color-2) 20%,
        var(--surface-default)
      );
      --_text-color: color-mix(
        in oklch,
        var(--text-color-2) 40%,
        var(--surface-default)
      );
    }
  }
  &.tonal {
    --_bg-color: var(--color-5);
    --_text-color: var(--color-16);

    &:where(:not(.disabled, [disabled])) {
      &:where(:not(:active):hover) {
        --_bg-color: var(--color-9);
        --_border-color: var(--color-9);
      }

      &:where(:active) {
        --_bg-color: var(--color-7);
        --_border-color: var(--color-7);
      }
    }

    &:where(.disabled, [disabled]) {
      --_bg-color: color-mix(
        in oklch,
        var(--text-color-2) 8%,
        var(--surface-default)
      );
      --_text-color: color-mix(
        in oklch,
        var(--text-color-2) 70%,
        var(--surface-default)
      );
    }
  }
  &.filled {
    --_bg-color: var(--color-8);
    --_text-color: var(--color-1);

    &:where(:not(.disabled, [disabled])) {
      &:where(:not(:active):hover) {
        --_bg-color: var(--color-10);
        --_border-color: var(--color-10);
      }

      &:where(:active) {
        --_bg-color: var(--color-9);
        --_border-color: var(--color-9);
      }
    }

    &:where(.disabled, [disabled]) {
      --_bg-color: color-mix(
        in oklch,
        var(--text-color-2) 20%,
        var(--surface-default)
      );
      --_text-color: color-mix(
        in oklch,
        var(--text-color-2) 70%,
        var(--surface-default)
      );
    }
  }
  &.elevated {
    --_bg-color: light-dark(var(--gray-1), var(--gray-12));
    --_text-color: var(--color-8);

    box-shadow: var(--shadow-3);

    &:where(:not(.disabled, [disabled])) {
      &:where(:not(:active):hover) {
        box-shadow: var(--shadow-4);
      }

      &:where(:active) {
        box-shadow: var(--shadow-6);
      }
    }

    @container style(--color-scheme: dark) {
      box-shadow: var(--shadow-4);

      &:where(:not(.disabled, [disabled])) {
        &:where(:not(:active):hover) {
          box-shadow: var(--shadow-5);
        }

        &:where(:active) {
          box-shadow: var(--shadow-6);
        }
      }
    }

    &:where(.disabled, [disabled]) {
      --_bg-color: color-mix(
        in oklch,
        var(--text-color-2) 8%,
        var(--surface-elevated)
      );
      --_text-color: color-mix(
        in oklch,
        var(--text-color-2) 70%,
        var(--surface-elevated)
      );
    }
  }

  /* Ripple effect */
  background-position: center;
  transition: background 0.8s;

  &:where(:not(.disabled, [disabled])) {
    &:where(:not(:active):hover) {
      --ripple: radial-gradient(circle, transparent 1%, var(--_bg-color) 1%)
        center/15000%;
    }

    &:where(:hover:active) {
      background-size: var(--button-ripple-size);
      transition: background 0s;
    }
  }
}
