:where(.chip) {
  --_bg-color: var(--surface-tonal);
  --_border-color: var(--border-color);
  --_color: var(--text-color-1);

  align-items: center;
  background: var(--_bg-color) var(--ripple, none);
  border: 1px solid var(--_border-color);
  border-radius: var(--radius-2, 0.5rem);
  color: var(--_color);
  display: inline-flex;
  font-size: var(--font-size-0, 0.75rem);
  gap: var(--size-1, 0.25rem);
  block-size: var(--size-7, 2rem);
  padding-inline: var(--size-2, 0.5rem);

  /* Variants */
  /* Default */
  &.tonal {
    --_bg-color: var(--surface-tonal);
    --_color: var(--text-color-1);
  }

  &.outlined {
    --_bg-color: var(--surface-default);

    --_color: var(--text-color-1);
  }

  &:where(button:not(.disabled, [disabled])) {
    &:where(:not(:active)):hover {
      --_bg-color: light-dark(
        color-mix(in oklch, var(--surface-tonal) 98%, black),
        color-mix(in oklch, var(--surface-tonal) 90%, white)
      );
    }
  }

  /* Icon */
  &:has(svg:first-child) {
    padding-inline: var(--size-1, 0.25rem) var(--size-2, 0.5rem);
  }
  &:has(svg:last-child) {
    padding-inline: var(--size-2, 0.5rem) var(--size-1, 0.25rem);
  }

  &:has(svg) {
    svg {
      flex-shrink: 0;
      inline-size: var(--size-3, 1rem);
    }
  }

  /* Sizes */
  &.small {
    block-size: var(--size-5, 1.5rem);
  }
  &.multiline {
    block-size: auto;
  }

  /* Ripple effect */
  background-position: center;
  transition: background 0.8s;

  &:where(:not(.disabled, [disabled])) {
    &:where(:not(:active):hover) {
      --ripple: radial-gradient(circle, transparent 1%, var(--_bg-color) 1%)
        center/15000%;
    }

    &:where(:hover:active) {
      background-size: var(--button-ripple-size);
      transition: background 0s;
    }
  }

  /* Disabled */
  &:where(.disabled, [disabled]) {
    opacity: 0.64;
    --_text-color: color-mix(
      in oklch,
      var(--text-color-2) 50%,
      var(--surface-default)
    );
    cursor: not-allowed;
  }
}
