:where(.chip) {
  --_bg-color: var(--surface-tonal);
  --_border-color: var(--border-color);
  --_color: var(--text-color-1);

  align-items: center;
  background: var(--_bg-color) var(--ripple, none);
  border: 1px solid var(--_border-color);
  border-radius: var(--radius-2, 0.5rem);
  color: var(--_color);
  display: inline-flex;
  font-size: var(--font-size-0, 0.75rem);
  gap: var(--size-1, 0.25rem);
  height: var(--size-7, 32px);
  padding-inline: var(--size-2, 0.5rem);

  /* Icon */
  &:has(svg) {
    padding-inline: var(--size-1, 0.25rem) var(--size-2, 0.5rem);

    svg {
      inline-size: var(--size-3, 1rem);
    }
  }

  /* Default */
  &.tonal {
    --_bg-color: var(--surface-tonal);
    --_color: var(--text-color-1);
  }

  &.outlined {
    --_bg-color: var(--surface-default);

    --_color: var(--text-color-1);
  }

  &:where(button:not(.disabled, [disabled])) {
    &:where(:not(:active)):hover {
      --_bg-color: light-dark(
        color-mix(in oklch, var(--surface-tonal) 98%, black),
        color-mix(in oklch, var(--surface-tonal) 90%, white)
      );
    }
  }

  /* Ripple effect */
  background-position: center;
  transition: background 0.8s;

  &:where(:not(.disabled, [disabled])) {
    &:where(:not(:active):hover) {
      --ripple: radial-gradient(circle, transparent 1%, var(--_bg-color) 1%)
        center/15000%;
    }

    &:where(:hover:active) {
      background-size: var(--button-ripple-size);
      transition: background 0s;
    }
  }
}
