:where(a) {
  &:where([href]) {
    color: var(--link, var(--primary));
    text-decoration-color: var(--link, var(--indigo-2));

    &:where(:visited) {
      color: var(--link-visited, var(--primary-light));
      text-decoration-color: var(--link-visited, var(--purple-2));
    }
  }

  &:where(:not(:hover)) {
    text-decoration: inherit;
  }
}
