:where(.link) {
  color: var(--primary, cornflowerblue);
  cursor: pointer;
  font-weight: var(--font-weight-7);
  text-decoration: underline;
  text-decoration-color: var(--primary, cornflowerblue);
  text-underline-offset: 1px;

  &:where([href]) {
    &:where(:hover) {
      color: var(--primary, deepskyblue);
    }
  }

  @supports (-moz-appearance: none) {
    text-underline-offset: 2px;
  }
}
