:where(.list) {
  background-color: light-dark(var(--gray-0), var(--gray-14));
  list-style: none;
  padding: var(--size-2, 0.5rem) 0;

  /* Borders on all list items */
  &.bordered {
    li + li {
      margin-block-start: var(--size-3, 1rem);
      &:before {
        border-block-start: 1px solid var(--border-color);
        content: "";
        position: absolute;
        inset: calc(0rem - var(--size-2, 0.5rem)) 0 auto 0;
        width: 100%;
        height: 1px;
      }
    }
  }

  li {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: var(--font-size-sm);
    gap: var(--size-3, 1rem);
    min-height: 40px;
    padding: var(--size-2, 0.5rem) var(--size-3, 1rem);
    position: relative;

    &:hover {
      background-color: light-dark(var(--gray-1), var(--gray-13));
    }

    &:has(video) {
      padding: 0.75rem var(--size-3, 1rem) 0.75rem 0;
    }

    * {
      font-size: inherit;
    }

    /* Border */
    &.border-top {
      margin-block-start: var(--size-3, 1rem);
      &:before {
        border-block-start: 1px solid var(--border-color);
        content: "";
        position: absolute;
        inset: calc(0rem - var(--size-2, 0.5rem)) 0 auto 0;
        width: 100%;
        height: 1px;
      }
    }

    /* Text */
    .text {
      flex: 1;

      p + p {
        font-size: var(--font-size-xs);
      }
    }

    /* Leading */
    .leading {
      &:has(svg) {
        max-width: var(--size-5);
      }

      img {
        aspect-ratio: 1;
        object-fit: cover;
        width: 56px;
      }

      video {
        aspect-ratio: 16/9;
        object-fit: cover;
        height: 64px;
      }
    }

    /* Trailing */
    .trailing {
      font-size: var(--font-size-xs);
    }
  }
}
