:where(table) {
  border-collapse: collapse;
  display: block;
  margin: var(--size-3, 1rem) 0;
  overflow-x: auto;

  tr {
    background-color: var(--surface-default);
    border-top: 1px solid var(--border-color);
    transition: background-color 0.5s;
  }

  tr:nth-child(2n) {
    background-color: var(--surface-filled);
  }

  th,
  td {
    border: 1px solid var(--border-color);
    padding: 8px 16px;
  }

  th {
    background-color: var(--surface-filled);
    color: var(--text-color-1);
    font-size: var(--font-size-sm, 0.75rem);
    font-weight: 600;
    text-align: start;
  }

  td {
    font-size: var(--font-size-sm, 0.75rem);
  }
}
