:where(h1, h2, h3, h4, h5, h6) {
  line-height: var(--font-lineheight-1);
  font-weight: var(--font-weight-9);
  text-wrap: balance;
}

:where(h1) {
  font-size: var(--font-size-h1, var(--font-size-8));
  max-inline-size: var(--size-header-1);
}

:where(h2) {
  font-size: var(--font-size-h2, var(--font-size-6));
  max-inline-size: var(--size-header-2);
}

:where(h3) {
  font-size: var(--font-size-h3, var(--font-size-5));
}
:where(h4) {
  font-size: var(--font-size-h4, var(--font-size-4));
}
:where(h5) {
  font-size: var(--font-size-h5, var(--font-size-3));
}

:where(p) {
  max-inline-size: var(--size-content-3);
  text-wrap: pretty;
}

:where(sup) {
  font-size: 0.5em;
}

:where(del) {
  background: var(--error, var(--red-9));
  color: var(--error-text, var(--red-2));
}

:where(ins) {
  background: var(--success, var(--green-9));
  color: var(--success-text, var(--green-1));
}

:where(abbr) {
  text-decoration-color: var(--blue-5);
}

:where(small) {
  font-size: max(0.5em, var(--font-size-0));
  max-inline-size: var(--size-content-1);
}
