:where(h1, h2, h3, h4, h5, h6) {
  color: var(--color-heading);
  font-weight: var(--font-weight-7);
  text-wrap: pretty;
}

h1,
.h1 {
  font-size: var(--font-size-h1, var(--font-size-7));
  letter-spacing: -0.02em;
  line-height: 1.15;
}

h2,
.h2 {
  font-size: var(--font-size-h2, var(--font-size-5));
  letter-spacing: -0.02em;
  line-height: 1.2;
}

h3,
.h3 {
  font-size: var(--font-size-h3, var(--font-size-4));
  letter-spacing: -0.01em;
  line-height: 1.167;
}

h4,
.h4 {
  font-size: var(--font-size-h4, var(--font-size-3));
  letter-spacing: -0.01em;
  line-height: 1.235;
}

h5,
.h5 {
  font-size: var(--font-size-h5, var(--font-size-2));
  line-height: 1.334;
}

h6,
.h6 {
  font-size: var(--font-size-h6, var(--font-size-1));
  line-height: 1;
}

/* Overline */
:where(.overline, hgroup > p:first-of-type:first-child) {
  color: light-dark(
    color-mix(in oklch, var(--color-body) 75%, white),
    color-mix(in oklch, var(--color-body) 75%, black)
  );
  font-size: var(--font-size-overline);
  font-weight: var(--font-weight-5);
  letter-spacing: 0.05em;
  line-height: 2.5;
  text-transform: uppercase;
}

:where(hgroup) {
  & > * {
    margin: 0;
  }

  & > :where(h1, h2, h3, h4, h5, h6) {
    margin-block-end: 0.4em;
  }

  /* The second p element */
  & > p:last-of-type:last-child:not(:first-child) {
    opacity: 0.75;
  }
}

:where(p, .p) {
  text-wrap: pretty;
}

:where(sup, .sup) {
  font-size: 0.5em;
}

:where(del, .del) {
  color: var(--danger, var(--red-9));
}

:where(ins, .ins) {
  color: var(--success, var(--green-9));
}

:where(abbr, .abbr, dfn, .dfn) {
  cursor: help;
  font-style: normal;
  text-decoration-color: var(--info);
}

:where(small, .small) {
  font-size: max(0.5em, var(--font-size-0));
  max-inline-size: var(--size-content-1);
}

:where(blockquote) {
  margin-block: 2em;
  padding-inline-start: 1.25em;
}

/* Rich text */
:where(.rich-text) {
  font-size: 1rem;
  line-height: 1.75;

  p {
    margin-block: 1.25em;
  }

  /* Lead paragraph */
  [class~="lead"] {
    font-size: 1.25em;
    line-height: 1.6;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
  }

  h1 {
    letter-spacing: -0.02em;
    line-height: 1.1111111;
    margin-block: 0 0.8888889em;
  }

  h2 {
    letter-spacing: -0.02em;
    line-height: 1.3333333;
    margin-block: 2em 1em;
    & + * {
      margin-block-start: 0;
    }
  }

  h3 {
    letter-spacing: -0.01em;
    line-height: 1.6;
    margin-block: 1.6em 0.6em;
    & + * {
      margin-block-start: 0;
    }
  }

  h4 {
    letter-spacing: -0.01em;
    line-height: 1.5;
    margin-block: 1.5em 0.5em;
    & + * {
      margin-block-start: 0;
    }
  }

  h5 {
    line-height: 1;
    margin-block-end: var(--size-1);
    & + * {
      margin-block-start: 0;
    }
  }

  h6 {
    line-height: 1;
    margin-block-end: var(--size-1);
    & + * {
      margin-block-start: 0;
    }
  }

  /* Lists */
  ul,
  ol {
    list-style-type: initial;
    margin-block-start: 1.25em;
    margin-block-end: 1.25em;
    padding-inline-start: 1.625em;

    li {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      padding-inline-start: 0.375em;
    }
  }

  /* Nested lists */
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
  }

  /* Description lists */
  dl {
    margin-block-start: 1.25em;
    margin-block-end: 1.25em;
  }

  dt {
    margin-block-start: 1.25em;
  }

  dd {
    margin-block-start: 0.5em;
    padding-inline-start: 1.625em;
  }

  /* Tables */
  table {
    margin-block-start: 2em;
    margin-block-end: 2em;
    font-size: 0.875em;
    line-height: 1.7142857;
  }

  thead th {
    padding-block-end: 0.5714286em;
    padding-inline: 0.5714286em;

    &:first-child {
      padding-inline-start: 0;
    }

    &:last-child {
      padding-inline-end: 0;
    }
  }

  tbody td,
  tfoot td {
    padding-block: 0.5714286em;
    padding-inline: 0.5714286em;

    &:first-child {
      padding-inline-start: 0;
    }

    &:last-child {
      padding-inline-end: 0;
    }
  }

  /* Code blocks */
  pre {
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.7142857;
    margin-block: 1.7142857em;
    padding-block: 0.8571429em;
    padding-inline: 1.1428571em;
  }

  code {
    font-size: 0.875rem;
  }

  /* Figures */
  figure {
    margin-block: 2em;

    & > * {
      margin-block: 0;
    }

    & figcaption {
      font-size: 0.875em;
      line-height: 1.4285714;
      margin-block-start: 0.8571429em;
    }
  }

  /* Remove top margin from first child */
  & > :first-child {
    margin-block-start: 0;
  }

  /* Remove bottom margin from last child */
  & > :last-child {
    margin-block-end: 0;
  }

  /* Horizontal rules */
  hr {
    & + * {
      margin-block-start: 0;
    }
  }
}
