:where(button, .button) {
  --_bg-color: transparent;
  --_border-color: transparent;
  --_text-color: initial;

  &:where(:not(.disabled, [disabled])) {
    &:where(:not(:active):hover) {
      --_bg-color: color-mix(in oklch, var(--surface-2) 90%, white);
    }

    &:where(:active) {
      --_bg-color: color-mix(in oklch, var(--surface-2) 95%, white);
    }
  }

  &:where(.disabled, [disabled]) {
    --_text-color: color-mix(in oklch, var(--text-1) 40%, transparent);
    cursor: not-allowed;
  }
  /* Sizes */
  &.small {
    padding-block: 0.5ex;
    padding-inline: 1ex;
  }

  &.medium {
    padding-block: 1ex;
    padding-inline: 2ex;
  }

  &.large {
    padding-block: 1.5ex;
    padding-inline: 2.5ex;
  }

  &.text {
    --_bg-color: transparent;
    --_border-color: transparent;
    --_text-color: initial;
  }

  /* Variants */
  &.outlined {
    --_bg-color: transparent;
    --_border-color: var(--text-1);
    --_text-color: var(--color-5);

    &:where(:not(.disabled, [disabled])) {
      &:where(:not(:active):hover) {
        --_bg-color: var(--color-9);
        --_border-color: var(--color-9);
        --_text-color: var(--color-1);
      }

      &:where(:active) {
        --_bg-color: var(--color-10);
        --_border-color: var(--color-10);
        --_text-color: var(--color-1);
      }
    }

    &:where(.disabled, [disabled]) {
      --_bg-color: transparent;
      --_border-color: color-mix(in oklch, var(--text-1) 12%, transparent);
      --_text-color: color-mix(in oklch, var(--text-1) 40%, transparent);
    }
  }
  &.tonal {
    --_bg-color: var(--color-5);
    --_text-color: var(--color-16);

    &:where(:not(.disabled, [disabled])) {
      &:where(:not(:active):hover) {
        --_bg-color: var(--color-7);
        --_border-color: var(--color-7);
      }

      &:where(:active) {
        --_bg-color: var(--color-9);
        --_border-color: var(--color-9);
      }
    }

    &:where(.disabled, [disabled]) {
      --_bg-color: color-mix(in oklch, var(--text-1) 12%, transparent);
      --_text-color: color-mix(in oklch, var(--text-1) 70%, transparent);
    }
  }
  &.filled {
    --_bg-color: var(--color-8);
    --_text-color: var(--color-1);

    &:where(:not(.disabled, [disabled])) {
      &:where(:not(:active):hover) {
        --_bg-color: var(--color-9);
        --_border-color: var(--color-9);
      }

      &:where(:active) {
        --_bg-color: var(--color-10);
        --_border-color: var(--color-10);
      }
    }

    &:where(.disabled, [disabled]) {
      --_bg-color: color-mix(in oklch, var(--text-1) 12%, transparent);
      --_text-color: color-mix(in oklch, var(--text-1) 70%, transparent);
    }
  }
  &.elevated {
    --_bg-color: oklch(1 0 0 / 0.05);
    --_text-color: var(--color-8);

    box-shadow: var(--shadow-2);

    &:where(:not(.disabled, [disabled])) {
      &:where(:not(:active):hover) {
        box-shadow: var(--shadow-4);
      }

      &:where(:active) {
        --_bg-color: var(--surface-1);
        box-shadow: var(--shadow-4);
      }
    }

    &:where(.disabled, [disabled]) {
      --_bg-color: color-mix(in oklch, var(--text-1) 12%, transparent);
      --_text-color: color-mix(in oklch, var(--text-1) 70%, transparent);
    }
  }
}
