@layer props, normalize, utils, theme, components;

@import "https://unpkg.com/open-props@2.0.0-beta.5/css/index.css"
  layer(props.main);
@import "https://unpkg.com/open-props@2.0.0-beta.5/css/color/red.hex.css"
  layer(props.colors.red);
@import "https://unpkg.com/open-props@2.0.0-beta.5/css/color/green.hex.css"
  layer(props.colors.green);
@import "https://unpkg.com/open-props@2.0.0-beta.5/css/color/blue.hex.css"
  layer(props.colors.blue);
@import "https://unpkg.com/open-props@2.0.0-beta.5/css/color/orange.hex.css"
  layer(props.colors.orange);
@import "https://unpkg.com/open-props@2.0.0-beta.5/css/color/hues.oklch.css"
  layer(props.colors.hues);
@import "../node_modules/open-props/gray-oklch.min.css" layer(props.colors.gray);

@import "./normalize.css" layer(normalize);
@import "./utils/index.css" layer(utils);

@import "./data-display/typography.css" layer(theme.typography);

@import "./theme.css" layer(theme);
