*,
:before,
::after {
  box-sizing: border-box;
}

:where(html) {
  accent-color: var(--primary);
  background-color: var(--surface-default);
  block-size: 100%;
  caret-color: var(--primary);
  color: var(--text-color-1);
  font-family: var(--font-sans);
  interpolate-size: allow-keywords;
  line-height: var(--font-lineheight-4);
  scrollbar-color: var(--scrollthumb-color) transparent;
  scrollbar-width: thin;

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  @media (--motionOK) {
    scroll-behavior: smooth;
  }
}

:where(body) {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  container-type: inline-size;
  font-size: 16px;
  font-synthesis: style;
  font-weight: 400;
  inline-size: 100%;
  margin: 0;
  min-block-size: 100%;
  min-inline-size: 320px;
  position: relative;
  text-rendering: optimizeLegibility;
}

/* TODO */
:where(:not(dialog, popover)) {
  margin: 0;
}

:where(:not(fieldset, progress, meter)) {
  background-origin: border-box;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0;
}

:where(fieldset) {
  border: var(--input-border-width) solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  padding: var(--size-3);
  display: grid;
  gap: var(--size-3);
}

:where(input, button, textarea),
:where(input[type="file"])::-webkit-file-upload-button {
  color: inherit;
  font-size: inherit;
  font: inherit;
  letter-spacing: inherit;
}

:where(input):-webkit-autofill,
:where(input):-webkit-autofill:hover,
:where(input):-webkit-autofill:focus,
:where(textarea):-webkit-autofill,
:where(textarea):-webkit-autofill:hover,
:where(textarea):-webkit-autofill:focus,
:where(select):-webkit-autofill,
:where(select):-webkit-autofill:hover,
:where(select):-webkit-autofill:focus,
:where(input):autofill,
:where(input):autofill:hover,
:where(input):autofill:focus,
:where(textarea):autofill,
:where(textarea):autofill:hover,
:where(textarea):autofill:focus,
:where(select):autofill,
:where(select):autofill:hover,
:where(select):autofill:focus {
  -webkit-text-fill-color: var(--text-color-2);
  -webkit-box-shadow: 0 0 0px 1e5px var(--well-1) inset;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: var(--text-color-2);
}

::-moz-placeholder {
  opacity: 1;
}

:focus-visible {
  border-radius: var(--border-radius, 0px);
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

@media (--motionOK) {
  :where(:focus-visible) {
    transition: outline-offset 145ms var(--ease-2);
  }
  :where(:not(:active):focus-visible) {
    transition-duration: 0.15s;
  }
}

:where(:not(:active):focus-visible) {
  outline-offset: var(--outline-offset, 0px);
}

:where(ins, u, abbr, dfn) {
  text-decoration: underline;
  text-underline-offset: 1px;

  @supports (-moz-appearance: none) {
    text-underline-offset: 2px;
  }
}

:where(abbr, dfn) {
  text-decoration: underline dotted;

  &[title] {
    cursor: help;
    text-underline-offset: 1px;
  }

  @supports (-moz-appearance: none) {
    text-underline-offset: 2px;
  }
}

:where(
  a[href],
  area,
  button,
  input:not(
      [type="text"],
      [type="email"],
      [type="number"],
      [type="password"],
      [type=""],
      [type="tel"],
      [type="url"]
    ),
  label[for],
  select,
  summary
) {
  cursor: pointer;
}

:where(
  a[href],
  area,
  button,
  [role="button"],
  input,
  label[for],
  select,
  summary,
  textarea,
  [tabindex]:not([tabindex*="-"])
) {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

:where(svg:not([width])) {
  inline-size: var(--size-10);
}

:where(code, kbd, samp, pre) {
  font-family: var(--font-mono);
}
:where(:not(pre) > code, kbd) {
  white-space: nowrap;
}

:where(pre) {
  direction: ltr;
  max-inline-size: max-content;
  min-inline-size: 0;
  white-space: pre;
  writing-mode: lr;
}

:where(:not(pre) > code) {
  background: var(--surface-filled);
  border-radius: var(--border-radius, var(--radius-2));
  padding: var(--size-1) var(--size-2);
  writing-mode: lr;
}

:where(kbd, var) {
  background-color: var(--text-color-2);
  border-color: var(--text-color-2);
  border-radius: var(--border-radius, var(--radius-2));
  border-width: var(--border-size-1);
  color: var(--text-color-2-contrast);
  padding: calc(var(--size-1) / 2) var(--size-1);
}

:where(mark) {
  border-radius: var(--border-radius, 0);
  padding: calc(var(--size-1) / 2) var(--size-1);
  vertical-align: baseline;
}

:where(dt) {
  font-weight: 700;
}

:where(dt:not(:first-of-type)) {
  margin-block-start: var(--size-5);
}

:where(figure) {
  display: grid;
  gap: var(--size-2);
  place-items: center;

  & > :where(figcaption) {
    font-size: var(--font-size-1, 1rem);
    text-wrap: balance;
  }
}

:target {
  scroll-margin-block-start: 2rem;
}
