*,
::before,
::after {
  box-sizing: border-box;
}

:where(html) {
  --shadow-color: light-dark(220 3% 15%, 220 40% 2%);
  --shadow-strength: light-dark(1%, 10%);
  --inner-shadow-highlight: light-dark(
    inset 0 -0.5px 0 0 #fff,
    inset 0 0.5px 0 0 #0001,
    inset 0 -0.5px 0 0 #fff1,
    inset 0 0.5px 0 0 #0007
  );

  -webkit-text-size-adjust: none; /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  accent-color: var(--primary, var(--link));
  background-color: var(--surface-1);
  block-size: 100%;
  caret-color: var(--primary, var(--link));
  color: var(--text-1);
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
  scrollbar-color: var(--scrollthumb-color) transparent;

  @media (--motionOK) {
    scroll-behavior: smooth;
  }
}

:where(body) {
  min-block-size: 100%;
}

:where(:not(dialog)) {
  margin: 0;
}

:where(:not(fieldset, progress, meter)) {
  background-origin: border-box;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0;
}

:where(input, button, textarea),
:where(input[type="file"])::-webkit-file-upload-button {
  color: inherit;
  font-size: inherit;
  font: inherit;
  letter-spacing: inherit;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
  border-radius: var(--global-border-radius, 0px);
}

@media (--motionOK) {
  :where(:focus-visible) {
    transition: outline-offset 145ms var(--ease-2);
  }
  :where(:not(:active):focus-visible) {
    transition-duration: 0.15s;
  }
}

:where(:not(:active):focus-visible) {
  outline-offset: var(--outline-offset, 0px);
}

:where(h3, h4, h5, h6, dt) {
  max-inline-size: var(--size-header-3);
}

:where(p, ul, ol, dl, h6) {
  font-size: var(--font-size-p, var(--font-size-2));
}

:where(a, u, ins, abbr) {
  text-underline-offset: 1px;

  @supports (-moz-appearance: none) {
    text-underline-offset: 2px;
  }
}

:where(
    a[href],
    area,
    button,
    input:not(
        [type="text"],
        [type="email"],
        [type="number"],
        [type="password"],
        [type=""],
        [type="tel"],
        [type="url"]
      ),
    label[for],
    select,
    summary,
    [tabindex]:not([tabindex*="-"])
  ) {
  cursor: pointer;
}

:where(
    a[href],
    area,
    button,
    input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*="-"])
  ) {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

:where(svg:not([width])) {
  inline-size: var(--size-10);
}

:where(code, kbd, samp, pre) {
  font-family: var(--font-mono);
}
:where(:not(pre) > code, kbd) {
  white-space: nowrap;
}

:where(pre) {
  direction: ltr;
  max-inline-size: max-content;
  min-inline-size: 0;
  white-space: pre;
  writing-mode: lr;
}

:where(:not(pre) > code) {
  background: var(--surface-2);
  border-radius: var(--global-border-radius, var(--radius-2));
  padding: var(--size-1) var(--size-2);
  writing-mode: lr;
}

:where(kbd, var) {
  border-color: var(--surface-4);
  border-radius: var(--global-border-radius, var(--radius-2));
  border-width: var(--border-size-1);
  padding: var(--size-1) var(--size-2);
}

:where(mark) {
  border-radius: var(--global-border-radius, var(--radius-2));
  padding-inline: var(--size-1);
}

:where(li, dd, figcaption) {
  max-inline-size: var(--size-content-2);
}

:where(dt, summary) {
  font-weight: var(--font-weight-7);
}

:where(dt:not(:first-of-type)) {
  margin-block-start: var(--size-5);
}

:where(hr) {
  background-color: var(--surface-3);
  height: var(--border-size-2);
  margin-block: var(--size-fluid-5);
}

:where(figure) {
  display: grid;
  gap: var(--size-2);
  place-items: center;

  & > :where(figcaption) {
    font-size: var(--font-size-1);
    text-wrap: balance;
  }
}

:where(fieldset) {
  border-radius: var(--global-border-radius, var(--radius-2));
  border: var(--border-size-1) solid var(--surface-4);
}

:where(menu) {
  display: flex;
  gap: var(--size-3);
  padding-inline-start: 0;
}

:target {
  scroll-margin-block-start: 2rem;
}
