html {
  color-scheme: var(--color-scheme);
}

.light {
  --color-scheme: light;
}
.dark {
  --color-scheme: dark;
}

.red,
.bad {
  --palette-hue: var(--oklch-red, 25);
  --palette-chroma: 1;
  --palette-hue-rotate-by: 1;
}
.blue,
.info {
  --palette-hue: var(--oklch-blue, 310);
  --palette-chroma: 1;
  --palette-hue-rotate-by: 1;
}
.green,
.good {
  --palette-hue: var(--oklch-green, 145);
  --palette-chroma: 1;
  --palette-hue-rotate-by: 1;
}
.orange,
.warning {
  --palette-hue: var(--oklch-orange, 75);
  --palette-chroma: 1;
  --palette-hue-rotate-by: 1;
}

/* Theme */
:where(html) {
  color-scheme: light dark;

  /* Colors */
  /*
  Palette picker
  https://opv2-beta.netlify.app/color/
  */
  --gray-hue: 255;
  --gray-chroma: 0.01;

  --palette-hue: var(--oklch-teal);
  --palette-hue-rotate-by: 5;
  --palette-chroma: 0.89;

  /* TODO: why isn't this working? */
  @container style(--color-scheme: dark) {
    --palette-hue: var(--oklch-red);
  }

  --primary: var(--color-8);
  --primary-dark: color-mix(in oklch, var(--primary) 80%, black);
  --primary-light: color-mix(in oklch, var(--primary) 80%, white);
  --primary-contrast: var(--gray-0);

  --text-color-1: light-dark(
    var(--gray-14, oklch(18% 0.01 255 / 1)),
    var(--gray-1, oklch(95% 0.01 255 / 1))
  );
  --text-color-1-contrast: light-dark(
    var(--gray-1, oklch(95% 0.01 255 / 1)),
    var(--gray-14, oklch(18% 0.01 255 / 1))
  );
  --text-color-2: light-dark(
    var(--gray-12, oklch(31% 0.01 255 / 1)),
    var(--gray-3, oklch(80% 0.01 255 / 1))
  );
  --text-color-2-contrast: light-dark(
    var(--gray-3, oklch(80% 0.01 255 / 1)),
    var(--gray-12, oklch(31% 0.01 255 / 1))
  );
  --text-color-2-78: color-mix(in oklch, var(--text-color-2) 78%, transparent);
  --text-color-2-56: color-mix(in oklch, var(--text-color-2) 56%, transparent);

  --red: var(--red-9);
  --red-light: var(--red-7);
  --red-dark: var(--red-12);
  --red-text: light-dark(var(--color-1), var(--color-11));

  --orange: var(--orange-7);
  --orange-light: var(--orange-5);
  --orange-dark: var(--orange-9);
  --orange-text: light-dark(var(--color-1), var(--color-11));

  --blue: var(--blue-7);
  --blue-light: var(--blue-5);
  --blue-dark: var(--blue-9);
  --blue-text: light-dark(var(--color-1), var(--color-11));

  --green: var(--green-7);
  --green-light: var(--green-5);
  --green-dark: var(--green-9);
  --green-text: light-dark(var(--color-1), var(--color-11));

  /* Surface */
  --surface-default: light-dark(
    var(--gray-0, oklch(99% 0.01 255 / 1)),
    var(--gray-13, oklch(25% 0.01 255 / 1))
  );
  --surface-filled: light-dark(
    var(--gray-1, oklch(95% 0.01 255 / 1)),
    var(--gray-14, oklch(18% 0.01 255 / 1))
  );
  --surface-tonal: light-dark(
    var(--gray-1, oklch(95% 0.01 255 / 1)),
    var(--gray-12, oklch(31% 0.01 255 / 1))
  );
  --surface-elevated: light-dark(
    var(--gray-0, oklch(99% 0.01 255 / 1)),
    var(--gray-12, oklch(31% 0.01 255 / 1))
  );
  --surface-border-radius: var(--size-1);

  /* Typography */
  /* TODO: clamp */
  --font-size-h1: var(--font-size-6, 2.5rem);
  --font-size-h2: var(--font-size-fluid-2;, 2rem);
  --font-size-h3: var(--font-size-fluid-1;, 1.5rem);
  --font-size-h4: var(--font-size-3, 1.25rem);
  --font-size-h5: var(--font-size-2, 1.1rem);
  --font-size-h6: var(--font-size-fluid-0;, 1rem);
  --font-size-lg: var(--font-size-3, 1.25rem);
  --font-size-md: var(--font-size-fluid-0, 1rem);
  --font-size-sm: 0.875rem;
  --font-size-xs: var(--font-size-0, 0.75rem);

  /* Borders */
  --border-color: light-dark(
    var(--gray-2, oklch(88% 0.01 255 / 1)),
    var(--gray-11, oklch(37% 0.01 255 / 1))
  );
  --border-radius: var(--size-1);
  --border-width: 1px;

  /* Input */
  --input-border-color: var(--border-color);
  --input-border-radius: var(--size-1);
  --input-border-width: 1px;

  /* Buttons */
  --button-border-radius: 100vmax;

  @media (prefers-reduced-motion: no-preference) {
    /* Ripple effect */
    --button-ripple-size: 100%;
    --button-ripple-duration: 0.5s;
  }

  /* Icons */
}
