@import "../node_modules/open-props/gray-oklch.min.css";
@import "../node_modules/open-props/red.min.css";
@import "../node_modules/open-props/orange.min.css";
@import "../node_modules/open-props/blue.min.css";
@import "../node_modules/open-props/green.min.css";

@import "./utils/index.css";

html {
  color-scheme: var(--color-scheme);
}

.light {
  --color-scheme: light;
}
.dark {
  --color-scheme: dark;
}

/* Theme */
:where(:root) {
  color-scheme: light dark;

  /*
  Palette picker
  https://opv2-beta.netlify.app/color/
  */
  --gray-hue: 255;
  --gray-chroma: 0.01;

  --palette-hue: 246;
  --palette-hue-rotate-by: 5;
  --palette-chroma: 0.89;

  /* Colors */
  --primary: var(--color-8);
  --primary-dark: color-mix(in oklch, var(--primary) 80%, black);
  --primary-light: color-mix(in oklch, var(--primary) 80%, white);

  --text-1: light-dark(var(--gray-12), var(--gray-0));
  --text-1-contrast: light-dark(var(--gray-0), var(--gray-12));

  --danger: var(--red-7);
  --danger-light: var(--red-5);
  --danger-dark: var(--red-9);
  --danger-text: light-dark(var(--color-1), var(--color-11));

  --warning: var(--orange-7);
  --warning-light: var(--orange-5);
  --warning-dark: var(--orange-9);
  --warning-text: light-dark(var(--color-1), var(--color-11));

  --info: var(--blue-7);
  --info-light: var(--blue-5);
  --info-dark: var(--blue-9);
  --info-text: light-dark(var(--color-1), var(--color-11));

  --success: var(--green-7);
  --success-light: var(--green-5);
  --success-dark: var(--green-9);
  --success-text: light-dark(var(--color-1), var(--color-11));

  --link: var(--primary);
  --link-visited: var(--primary-light);

  /* Surface */
  --surface-default: light-dark(var(--gray-0), var(--gray-13));
  --surface-filled: light-dark(var(--gray-1), var(--gray-14));
  --surface-tonal: light-dark(var(--gray-2), var(--gray-12));

  /* Typography */
  --font-size-h1: var(--font-size-6);
  --font-size-h2: var(--font-size-5);
  --font-size-h3: var(--font-size-4);
  --font-size-h4: var(--font-size-3);
  --font-size-h5: var(--font-size-2);
  --font-size-h6: var(--font-size-1);
  --font-size-p: var(--font-size-1);

  /* Borders */
  --border-color: light-dark(var(--gray-2), var(--gray-12));
  --border-radius: var(--size-1);
  --border-width: 1px;
  --button-border-radius: 100vmax;
}
