html {
  color-scheme: var(--color-scheme);
}

.light {
  --color-scheme: light;
}
.dark {
  --color-scheme: dark;
}

.danger {
  --palette-hue: var(--oklch-red, 25);
  --palette-chroma: 1;
  --palette-hue-rotate-by: 1;
}
.info {
  --palette-hue: var(--oklch-indigo, 310);
  --palette-chroma: 1;
  --palette-hue-rotate-by: 1;
}
.success {
  --palette-hue: var(--oklch-green, 145);
  --palette-chroma: 1;
  --palette-hue-rotate-by: 1;
}
.warning {
  --palette-hue: var(--oklch-orange, 75);
  --palette-chroma: 1;
  --palette-hue-rotate-by: 1;
}

/* Theme */
:where(html) {
  color-scheme: light dark;

  /* Colors */
  /*
  Palette picker
  https://opv2-beta.netlify.app/color/
  */
  --gray-hue: 255;
  --gray-chroma: 0.01;

  --palette-hue: var(--oklch-teal);
  --palette-hue-rotate-by: 5;
  --palette-chroma: 0.89;

  /* TODO: why isn't this working? */
  @container style(--color-scheme: dark) {
    --palette-hue: var(--oklch-red);
  }

  --primary: var(--color-8);
  --primary-dark: color-mix(in oklch, var(--primary) 80%, black);
  --primary-light: color-mix(in oklch, var(--primary) 80%, white);

  --text-color-1: light-dark(
    var(--gray-14, oklch(18% 0.01 255 / 1)),
    var(--gray-1, oklch(95% 0.01 255 / 1))
  );
  --text-color-1-contrast: light-dark(
    var(--gray-1, oklch(95% 0.01 255 / 1)),
    var(--gray-14, oklch(18% 0.01 255 / 1))
  );
  --text-color-2: light-dark(
    var(--gray-12, oklch(31% 0.01 255 / 1)),
    var(--gray-3, oklch(80% 0.01 255 / 1))
  );
  --text-color-2-contrast: light-dark(
    var(--gray-3, oklch(80% 0.01 255 / 1)),
    var(--gray-12, oklch(31% 0.01 255 / 1))
  );
  --text-color-2-78: color-mix(in oklch, var(--text-color-2) 78%, transparent);
  --text-color-2-56: color-mix(in oklch, var(--text-color-2) 56%, transparent);

  --danger: var(--red-7);
  --danger-light: var(--red-5);
  --danger-dark: var(--red-9);
  --danger-text: light-dark(var(--color-1), var(--color-11));

  --warning: var(--orange-7);
  --warning-light: var(--orange-5);
  --warning-dark: var(--orange-9);
  --warning-text: light-dark(var(--color-1), var(--color-11));

  --info: var(--blue-7);
  --info-light: var(--blue-5);
  --info-dark: var(--blue-9);
  --info-text: light-dark(var(--color-1), var(--color-11));

  --success: var(--green-7);
  --success-light: var(--green-5);
  --success-dark: var(--green-9);
  --success-text: light-dark(var(--color-1), var(--color-11));

  /* Surface */
  --surface-default: light-dark(
    var(--gray-0, oklch(99% 0.01 255 / 1)),
    var(--gray-13, oklch(25% 0.01 255 / 1))
  );
  --surface-filled: light-dark(
    var(--gray-1, oklch(95% 0.01 255 / 1)),
    var(--gray-14, oklch(18% 0.01 255 / 1))
  );
  --surface-tonal: light-dark(
    var(--gray-1, oklch(95% 0.01 255 / 1)),
    var(--gray-12, oklch(31% 0.01 255 / 1))
  );
  --surface-elevated: light-dark(
    var(--gray-0, oklch(99% 0.01 255 / 1)),
    var(--gray-12, oklch(31% 0.01 255 / 1))
  );
  --surface-border-radius: var(--size-1, 0.25rem);

  /* Typography */
  /* TODO: clamp */
  --font-size-h1: var(--font-size-6, 2.5rem);
  --font-size-h2: var(--font-size-5, 2rem);
  --font-size-h3: var(--font-size-4, 1.5rem);
  --font-size-h4: var(--font-size-3, 1.25rem);
  --font-size-h5: var(--font-size-2, 1.1rem);
  --font-size-h6: var(--font-size-1, 1rem);
  --font-size-body: var(--font-size-1, 1rem);
  --font-size-body-large: var(--font-size-3, 1.25rem);
  --font-size-body-small: 0.875rem;
  --font-size-overline: var(--font-size-0, 0.75rem);

  /* Borders */
  --border-color: light-dark(
    var(--gray-2, oklch(88% 0.01 255 / 1)),
    var(--gray-11, oklch(37% 0.01 255 / 1))
  );
  --border-radius: var(--size-1, 0.25rem);
  --border-width: 1px;

  /* Input */
  --input-border-radius: var(--size-1, 0.25rem);

  /* Buttons */
  --button-border-radius: 100vmax;
  --button-ripple-size: 100%;
}
