/* default theme */
:root {
  color-scheme: light dark;

  --palette-hue: 146;
  --palette-hue-rotate-by: 2;
  --palette-chroma: 0.19;

  /* colors */
  --primary: var(--color-12);
  --primary-dark: color-mix(in oklch, var(--primary) 80%, black);
  --primary-light: color-mix(in oklch, var(--primary) 80%, white);

  --text-1: light-dark(var(--color-12), var(--color-1));
  --text-2: light-dark(var(--color-1), var(--color-12));

  --danger: var(--red-7);
  --danger-light: var(--red-5);
  --danger-dark: var(--red-9);
  --danger-text: light-dark(var(--color-0), var(--color-11));

  --warning: var(--orange-7);
  --warning-light: var(--orange-5);
  --warning-dark: var(--orange-9);
  --warning-text: light-dark(var(--color-0), var(--color-11));

  --info: var(--blue-7);
  --info-light: var(--blue-5);
  --info-dark: var(--blue-9);
  --info-text: light-dark(var(--color-0), var(--color-11));

  --success: var(--green-7);
  --success-light: var(--green-5);
  --success-dark: var(--green-9);
  --success-text: light-dark(var(--color-0), var(--color-11));

  --link: var(--primary);
  --link-visited: var(--primary-light);

  --surface-1: light-dark(var(--color-0), var(--color-9));
  --surface-2: light-dark(var(--color-2), var(--color-8));
  --surface-3: light-dark(var(--color-3), var(--color-7));
  --surface-4: light-dark(var(--color-4), var(--color-6));

  /* typography */
  --font-size-h1: var(--font-size-8);
  --font-size-h2: var(--font-size-6);
  --font-size-h3: var(--font-size-5);
  --font-size-h4: var(--font-size-4);
  --font-size-h5: var(--font-size-3);
  --font-size-h6: var(--font-size-1);
  --font-size-p: var(--font-size-1);

  /* borders */
  --button-border-radius: 0px;
  --input-border-radius: 0px;
  --surface-border-radius: 0px;
}

/* light theme */
[color-scheme="light"] {
  --text-1: var(--color-11);
  --text-2: var(--color-8);

  --surface-1: var(--color-0);
  --surface-2: var(--color-2);
  --surface-3: var(--color-3);
  --surface-4: var(--color-4);

  --surface-shadow-light: var(--color-8);
  --shadow-strength-light: 2%;
}

/* dark theme */
[color-scheme="dark"] {
  --text-1: var(--color-0);
  --text-2: var(--color-4);

  --surface-1: var(--color-9);
  --surface-2: var(--color-8);
  --surface-3: var(--color-7);
  --surface-4: var(--color-6);

  --surface-shadow-dark: var(--color-12);
  --shadow-strength-dark: 80%;
}

/* choco theme */
[color-scheme="lime"] {
  color-scheme: light;

  --primary: var(--lime-5);
  --primary-light: color-mix(in oklch, var(--lime-5) 80%, white);
  --primary-dark: color-mix(in oklch, var(--lime-5) 80%, black);

  --text-1: var(--lime-1);
  --text-2: var(--lime-2);

  --surface-1: var(--lime-12);
  --surface-2: var(--lime-11);
  --surface-3: var(--lime-10);
  --surface-4: var(--lime-9);

  --surface-shadow: 25deg 65% 11%;
  --shadow-strength: 50%;
}
